.multiple_choice
  - @question.choices.each do |choice|
    .btn.btn-primary.btn-lg.mchoice
      span= choice

javascript:
  $(document).ready(function(){

    $(".mchoice").on("click",function(){
      $(".mchoice").removeClass("btn-warning active");
      $(this).addClass("btn-warning active")
    });

    $("#survey").on("collect", function(e){
      window.answers["multiple_choice"] = $(".mchoice.active > span").text()
    });

  });
